@import "../styles/colors.scss";

.container {
  display: grid;
  grid-template-columns: repeat(7, 2rem);
  grid-template-areas: "header" "main";
  justify-content: center;
  gap: 3rem 1rem;

  padding: 0.5rem 1rem 0;

  .header {
    grid-area: header;

    grid-column: span 7;

    display: flex;
    align-items: center;
    height: 3rem;
  }

  .main {
    grid-area: main;
    grid-column: span 7;

    display: grid;
    grid-template-columns: subgrid;
    gap: 3rem 1rem;
  }
}
