@import "../../styles/colors.scss";

.logo {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;

  color: $secondary-color;
  font-weight: bold;

  span {
    color: $primary-color;
  }
}
