@import "../../styles/colors.scss";
@import "../../styles/utils.scss";

.container {
  display: flex;
  gap: 0.25rem;

  button {
    &:first-of-type {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    &:last-of-type {
      border-radius: 0 0.25rem 0.25rem 0;
    }

    height: 2rem;
    border: none;
    background: $secondary-color;
    box-shadow: $box-shadow;

    font-size: 0.875rem;
    font-weight: 500;

    transition: filter 0.2s;

    &.active {
      background: $primary-color;
    }

    &:active {
      filter: brightness(0.9);
    }
  }
}
