@import "../../styles/colors.scss";
@import "../../styles/utils.scss";

.container {
  display: flex;
  gap: 0.25rem;

  button {
    cursor: pointer;

    &:first-of-type {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    &:last-of-type {
      border-radius: 0 0.25rem 0.25rem 0;
    }

    height: 2rem;
    border: none;
    background: $secondary-color;
    box-shadow: $box-shadow;

    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.1em;

    transition: filter 0.2s;

    &.active {
      background: $primary-color;
    }

    &:active {
      filter: brightness(0.9);
    }

    &:disabled {
      background: $gray-700;
      filter: opacity(0.4);
      color: $body-color;
      cursor: not-allowed;
      box-shadow: none;
    }
  }
}
